<html>
       <head>
           <title>Hola Hola</title>
       </head>
       <body>
           <div>
               <h1><a href="">Que onda¡</a></h1>
           </div>

           <div>
               <p>published: 28.10.2017, 13:29</p>
               <h2><a href="">I don't wanna know</a></h2>
               <p>Funciona! Pero queremos que se muestren como los posts estáticos que creamos anteriormente en el capítulo de Introducción a HTML. Puedes mezclar HTML y template tags. Nuestro body se verá así</p>
           </div>

           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="">Tutoriales</a></h2>
               <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
           </div>
       </body>
   </html>
